{% extends "base.html" %} {% block body %}

<div class="container">
    <div class="jumbotron">

        <div class="page-header">
            <h1>New Task</h1>
        </div>

        <form method="POST" action="tasks/new">
            <div class="form-group">
                <input name="title" type="text" class="form-control" placeholder="Name of request" required>
            </div>
            <div class="form-group">
                <input name="outcome" type="text" class="form-control" placeholder="What is the outcome they are looking for?" required>
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" rows="3" placeholder="Description of problem"></textarea>
            </div>

            <!--
            <div class="form-group">
                <select class="form-control" name="benefit_id">
                    <option value="-1">Select a Benefit</option>
                    {% for benefit in benefits %}
                        <option value="{{ benefit.id }}" {{ benefit.id | is_selected }}>{{ benefit.btype }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <input name="benefit_value" type="text" class="form-control" placeholder="Benefit Value" required>
            </div>
            -->

            <div class="form-group">
                <select class="form-control" name="category_id">
                    <option value="-1">Select a category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {{ category.id | is_selected }}>{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Create it!</button>
        </form>

    </div>
</div>

{% endblock %}